@model List<ResultStaffDto>

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title text-center text-primary text-uppercase">Personel</h6>
            <h1 class="mb-5">Kebap Salonumuzun Ekibi</span></h1>
        </div>

        <div class="row g-4">
            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="staff-card shadow">
                        <div class="position-relative">
                            <img class="img-fluid" src="~/Staff/@item.StaffImage" alt="@item.StaffName">

                            <div class="position-absolute start-50 top-100 translate-middle d-flex align-items-center staff-social">
                                <a class="btn btn-square btn-primary mx-1" href="@item.SocialMedia1">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a class="btn btn-square btn-primary mx-1" href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a class="btn btn-square btn-primary mx-1" href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </div>
                        </div>

                        <div class="text-center p-4 mt-3">
                            <h5 class="staff-name mb-0">@item.StaffName</h5>
                            <small class="staff-position">@item.StaffPosition</small>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<style>
    .staff-card img {
        width: 100%;
        height: 260px; 
        object-fit: cover; 
        object-position: center;
    }

 
    .staff-card {
        background: #fff;
        border-radius: 10px;
        overflow: hidden;
    }

    .staff-name {
        font-weight: 700;
        font-size: 18px;
        color: #8B0000; 
    }

    .staff-position {
        font-size: 14px;
        color: #444;
    }


    .staff-social a {
        background: #8B0000;
        border-color: #8B0000;
    }

        .staff-social a:hover {
            background: #b30000;
            border-color: #b30000;
        }
</style>