<section class="container py-5 my-5" id="gallery">
    <h2 class="text-center mb-5 text-darkgreen">Fotoğraflar</h2>

    <div id="galleryCarousel" class="carousel slide" data-bs-ride="carousel">

        <div class="carousel-inner">

            <div class="carousel-item active">
                <div class="d-flex justify-content-center" style="height:400px">
                    <img src="~/Gallery/et1.jpg" class="d-block w-50 img-fluid rounded shadow" alt="Gallery 1">
                </div>
            </div>

            <div class="carousel-item">
                <div class="d-flex justify-content-center " style="height:400px">
                    <img src="~/Gallery/manzara1.jpg" class="d-block w-50 img-fluid rounded shadow" alt="Gallery 2">
                </div>
            </div>

            <div class="carousel-item">
                <div class="d-flex justify-content-center" style="height:400px">
                    <img src="~/Gallery/restoran2.jpg" class="d-block w-50 img-fluid rounded shadow" alt="Gallery 3">
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-flex justify-content-center" style="height:400px">
                    <img src="~/Gallery/restoran3.jpg" class="d-block w-50 img-fluid rounded shadow" alt="Gallery 3">
                </div>
            </div>

        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#galleryCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#galleryCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>

    </div>
</section>

<style>
   
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        
        filter: invert(0.1) sepia(1) saturate(0) hue-rotate(0deg) brightness(0.5) contrast(1.5);
        
    }

</style>