<div class="container-fluid p-0 mb-5">
    <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">

        
            <div class="carousel-item active">
                <img class="w-100" src="~/productImages/Giriş1.png" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 700px;">

                        

                        <h1 class="display-3 text-white mb-4 animated slideInDown">
                            Odun Ateşinde Pide ve Kebap Keyfi
                        </h1>

                      

                    </div>
                </div>
            </div>

     
            <div class="carousel-item">
                <img class="w-100" src="~/productImages/giriş2.jpg" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 700px;">

                      

                        <h1 class="display-3 text-white mb-4 animated slideInDown">
                            Tadı Damağınızda Kalacak Pideler
                        </h1>

                       
                    </div>
                </div>
            </div>

   
            <div class="carousel-item">
                <img class="w-100" src="~/productImages/giriş3.jpg" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 700px;">

                      
                        <h1 class="display-3 text-white mb-4 animated slideInDown">
                            Enfes Kebap Çeşitleri
                        </h1>

                    </div>
                </div>
            </div>

       
            <div class="carousel-item">
                <img class="w-100" src="~/productImages/giriş4.png" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 700px;">

                       

                        <h1 class="display-3 text-white mb-4 animated slideInDown">
                            Ailenizle Keyifli Bir Sofra
                        </h1>

                       

                    </div>
                </div>
            </div>

                <div class="carousel-item">
                <img class="w-100" src="~/productImages/giriş5.png" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 700px;">

                       
                        <h1 class="display-3 text-white mb-4 animated slideInDown">
                            Sıcak, Taze ve Lezzetli
                        </h1>

                      

                    </div>
                </div>
            </div>

        </div>

     
        <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Önceki</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#header-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Sonraki</span>
        </button>
    </div>
</div>


<style>
    #header-carousel .carousel-item img {
        height: 650px;
        object-fit: cover;
    }
</style>
