@model Create2BookingDto

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center">
          
            <h1 class="mb-5"><span class="" style="color:darkblue">Rezervasyon</span> Formu</h1>
        </div>

        <form method="post"  asp-action="AddBooking" asp-controller="Booking">
          
            <div class="row g-3">

             
                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="text" class="form-control" asp-for="Name" placeholder="Adınız Soyadınız">
                        <label>Adınız Soyadınız</label>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>

               
                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="email" class="form-control" asp-for="UserMail" placeholder="Mail Adresiniz">
                        <label>Mail Adresiniz</label>
                        <span asp-validation-for="UserMail" class="text-danger"></span>
                    </div>
                </div>

            
                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="text" class="form-control" asp-for="PhoneNumber" placeholder="Telefon Numaranız">
                        <label>Telefon Numaranız</label>
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="date" class="form-control" asp-for="BookingDay">
                        <label>Rezervasyon Tarihi</label>
                    </div>
                </div>

            
                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="time" class="form-control" asp-for="BookingTime">
                        <label>Rezervasyon Saati</label>
                    </div>
                </div>

              
                <div class="col-md-6">
                    <div class="form-floating">
                        <select class="form-select" asp-for="RestaurantName" asp-items="ViewBag.RestaurantNameList"></select>
                        <label>Kebapçı Seçin</label>
                    </div>
                </div>

         
                <div class="col-12">
                    <div class="form-floating">
                        <input type="number" class="form-control" asp-for="NumberOfPeople" min="1" placeholder="Kişi Sayısı">
                        <label>Kişi Sayısı</label>
                    </div>
                </div>

           
                <div class="col-12">
                    <div class="form-floating">
                        <textarea class="form-control" asp-for="Message" style="height:120px;"></textarea>
                        <label>Not / Özel İstek</label>
                        <span asp-validation-for="Message" class="text-danger"></span>
                    </div>
                </div>

         
                <div class="col-12">
                    <button class="btn btn-dark w-100 py-3" type="submit">Rezervasyon Yap</button>
                </div>

            </div>
        </form>
    </div>
</div>
